# Local Database config
DATABASE_SERVER_NAME_DEV
DATABASE_USERNAME_DEV
DATABASE_PASSWORD_DEV
DATABASE_NAME_DEV

# Production database config
DATABASE_SERVER_NAME
DATABASE_USERNAME_DEV
DATABASE_PASSWORD
DATABASE_NAME

# Production database config for test
DATABASE_SERVER_NAME_TEST
DATABASE_USERNAME_TEST
DATABASE_PASSWORD_TEST
DATABASE_NAME_TEST

# Stripe API Config
STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY

# Email server config
EMAIL_HOST
EMAIL_USERNAME
EMAIL_PASSWORD

# API Secret Key
SYSTEM_SECRET_KEY

# JWT Secret Key
JWT_SECRET

# WooCommerce REST API
WOO_KEY
WOO_SECRET

#Hosting.com
HOSTING_DOMAIN
HOSTING_PORT
HOSTING_SSH_KEY
HOSTING_USERNAME

# Domain config
DOMAIN_DEV
DOMAIN_DEV_FULL
MERCHANT_REDIRECT_DEV
TEMPLATE_SERVER_DEV
PAYMENT_SERVER_DEV

DOMAIN_TEST
DOMAIN_TEST_FULL
MERCHANT_REDIRECT_TEST
TEMPLATE_SERVER_TEST
PAYMENT_SERVER_TEST

DOMAIN_MAIN
DOMAIN_MAIN_FULL
MERCHANT_REDIRECT_MAIN
TEMPLATE_SERVER_MAIN
PAYMENT_SERVER_MAIN